<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cfryan.beyondchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="com.cfryan.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainTabActivty"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>

        <activity android:name="com.cfryan.beyondchat.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>

        <service android:name=".service.CoreService" />

        <provider
            android:name=".db.ChatProvider"
            android:authorities="com.hdu.cfryan.provider.Chats" />
        <provider
            android:name=".db.RosterProvider"
            android:authorities="com.hdu.cfryan.provider.Roster" />
        <provider
            android:name=".db.AvatarProvider"
            android:authorities="com.hdu.cfryan.provider.Avatar" />
        <provider
            android:name=".db.AddPhonesProvider"
            android:authorities="com.hdu.cfryan.provider.AddPhones" />
        <provider
            android:name=".db.NewFriendsProvider"
            android:authorities="com.hdu.cfryan.provider.NewFriends" />

        <activity
            android:name=".activity.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activity.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".activity.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cfryan.beyondchat.activity.ItemListActivity" />
        </activity>
    </application>

</manifest>
